<p>
    An elementary cellular automaton is a one-dimensional cellular automaton(a grid of cell where each cell has
    only 2 states) where there are two possible states (labeled 0 and 1) and the rule to determine the state of a cell
    in the next generation depends only on the current state of the cell and its two immediate neighbors. You can with
    the following form have an illustration of the process, simply enter a rule number (between 0 and 256), and see the
    picture displayed.
</p>

<form action="{% url 'elementaryCellularAutomata:wolfram_automata_display'%}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>