main{
    width: 80%;
    margin: 50px auto;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;
}